<div id="textblock_555580">
<UL>
 <LI><A HREF="committees-affliates/">Committees and Communittess of Practice</A><BR>
<i>Committees</i>
<UL>
  <LI><A HREF="./chief-information-security-officer-council/">Chief Information Security Officer Council</A></LI>
<LI><A HREF="./innovation-committee/">Innovation Committee</A></LI>
<LI><A HREF="./services-strategies-infrastructure-committee/">Services, Strategy, and Infrastructure Committee</A></LI>
<LI><A HREF="./workforce-committee/">Work Force COmmittee</A></LI>
</UL>
 
 <i>Communities of Practice</i>
  <UL>
<LI><A HREF="./committees-affliates/technology-business-management-cop/">Technology Business Management Community of Practice</A></LI>
<LI><A HREF="./committees-affliates/data-center-consolidation-task-force/">Data Center Optimization Initiative Community of Practice</A></LI>
<LI><A HREF="./committees-affliates/accessibility-cop/">Accessibility Community of Practice</A></LI>
  </UL>
   
 <LI><A HREF="./members-and-leadership/">Leadership and Members</A><BR>
 <LI><A HREF="./mission-vision/">Mission & Vision</A><BR>
</UL>
  
  <p></p>
 <p>Originally established by Executive Order 13011 (Federal Information Technology) and later codified by the E-Government Act of 2002, the CIO Council is the principal interagency forum for improving agency practices related to the design, acquisition, development, modernization, use, sharing, and performance of Federal information resources.</p>

  <p>The CIO Council is one element of an interagency support structure established to achieve information resource management objectives delineated in legislation including the E-Government Act of 2002, Government Paperwork Elimination Act, Paperwork Reduction Act, Government Performance and Results Act, and the Information Technology Management Reform Act of 1996.</p>
  
  <p>&nbsp;</p><h2>LEADERSHIP</h2>
  
  <p>The Chair of the CIO Council is the Deputy Director for Management for the Office of Management and Budget
  (OMB) and the Vice Chair is elected by the CIO Council from its membership. Membership on the Council comprises 
  CIOs and Deputy CIOs from 28 Federal executive Agencies. Additional members of the Council include liaisons from
  the <a href="http://www.caoc.gov" target="_blank" rel="noopener">Chief Acquisition Officers Council</a>, 
  <a href="http://www.cfoc.gov" target="_blank" rel="noopener">Chief Financial Officers Council</a>, 
  <a href="http://www.chcoc.gov" target="_blank" rel="noopener">Chief Human Capital Officers Council</a>, and other 
  groups selected by the CIO Council’s Executive Committee. Also included as members are a representative from the 
  Office of Science and Technology Policy and representatives from OMB’s 
  <a href="http://www.whitehouse.gov/omb/inforeg_default" target="_blank" rel="noopener">Office of Information and Regulatory Affairs</a>.
  </p>
  </div>
