<div id="textblock_536207">
The Accessibility Committee serves as the principal interagency forum to improve the Federal government’s implementation of Section 508. Working in conjunction with the U.S. Access Board, the Department of Justice, and the General Services Administration’s <a href="http://section508.gov/">Section 508 Accessibility Program</a>, the Accessibility Committee provides a forum for federal agencies, disability advocacy groups, industry, and academia stakeholders to enable and support the Federal government’s implementation of accessible information technology by:
  <p></p>
<LI>Promoting accountability and transparency for agency progress on implementing the Section 508 standards;<br />Identifying and promoting best practices for implementing the Section 508 law and the Section 508 Electronic and Information Technology Accessibility Standards;<br />Engaging disability advocacy groups, industry, and academia to tap into new sources of information and innovation for accessible technology;<br />
<LI>Establishing and promoting a Community of Practice approach to Section 508 implementation and encouraging agencies to share successful practices and information with each other;<br />Providing a forum for discussing cross-agency issues regarding Section 508 implementation;<br />Providing resources such as training curricula, tools and guidance to assist agencies with Section 508 implementation; and<br />Increasing awareness of the Section 508 law, regulations, and expectations for Federal employees.</p><p>&nbsp;</p>
  <p></p>
  <h2 class="section_header">LEADERSHIP</h2>
  <b>Mr. Craig Luigart</b><br />Executive Advisor for Technology<br />
    Department of Veterans Affairs<br />
    <A HREF="mailto:craig.luigart@va.gov">craig.luigart@va.gov</a>
    <p><p>
    Office Phone: 202-461-5848
<p>&nbsp;</p>
<h2 class="section_header">>RESOURCES</h2>
<LI>ref="http://section508.gov/">GSA’s Government-wide Section 508 Accessibility Program (Section508.gov)</a></LI>
<LI><a href="http://section508.gov/content/calendar">Section508.gov’s Calendar of Events</a></LI>
<LI><a href="http://www.adaconferences.org/CIOC">ADA's Accessibility Webinars Archive</a><br /><a href="https://dev.accessibilityonline.org/cioc-508/schedule">Upcoming ADA Accessibility Events</a></LI>

  
