<div id="textblock_556850"><p>The Federal Chief Information Security Officer (CISO) Council is the primary body for 
inter-agency CISO collaboration and communication.
The Council is led by the Federal CISO, who works in the White House Office of Management and Budget (OMB), and a
co-chair who’s a member of the Council, elected to serve in that role.</p><p>The CISO Council is dedicated to 
improving the cybersecurity posture of the United States through:</p><p>IT security policy development;<br />


Strategic hiring and training of cybersecurity professionals;<br />
Sharing of best practices; and<br />
Promotion of shared services.</p><p>

The Council promotes collaboration and community building among Federal Agency CISOs for the purposes of openly sharing information,
transferring knowledge, and developing a unified approach for addressing Federal IT security challenges and handling prominent.</p><p>
&nbsp;</p>

<h2 style="font-family: 'Poppins', sans-serif; COLOR: #515151; font-size: 28px; align: left;">STRATEGIC FOCUS AREAS</h2>
<p>Identity Management<br />
Comprehensive Risk Assessment &amp; Framework<br />
Vulnerability Response<br />
Shared Services<br />
Performance Metrics</p>
<p>&nbsp;</p>


<h2 style="font-family: 'Poppins', sans-serif; COLOR: #515151; font-size: 28px; align: left;">LEADERSHIP</h2>
<p>Grant Schneider, Chair<br />
Acting Federal Chief Information Security Officer<br />
Office of Management and Budget</p>
<p>Cord Chase, Co-Chair<br />
Chief Information Security Officer<br />
Office of Personnel Management</p>
<p>&nbsp;</p>
<p>Want more information?<br />
Please visit the MAX Federal CISO Council Page (login required) to learn more.</p></div>
  </div>
</div></div>
