 <p>FITARA AND IT SPENDING TRANSPARENCY</p>
    <div>The Federal IT Acquisition Reform Act (FITARA) enhanced the authority of Federal Agency CIOs to manage IT spending. 
    However, CIOs are often lack comprehensive, detailed information on IT spending in their agencies. For example, 
    current agency budgets may categorize outsourced network maintenance and software development services as into the
    same category in their acquisition and financial management systems. This obscures the true costs of each these distinct 
    IT activities and ultimately hinders the ability of the CIO to manage IT costs. Additionally, current investment 
    categorization methods vary from one Federal Agency to the next, making it difficult for CIOs to benchmark their agency
    against another and against the private sector.</div>
