<div id="textblock_138283">Our Nation's security and economic prosperity depend on the stability 
and integrity of our Federal communications and information infrastructure. Threats to cyberspace
pose some of the most serious challenges of the 21st century for the United States.</p>

<p></p>

In order to address the continuously changing environment of threats posed on our nation’s cybersecurity defenses, 
the Federal Government must continue its vigorous advancement of technical and policy protection capabilities
for national systems, to expand partnerships with the private sector, and to work with Congress to clarify roles and
responsibilities.</div>


<TABLE style="border-style: hidden;"><TR><TD VALIGN="top"  style="border-style: hidden;"><CENTER>
	
		
<H4 style="text-align: center;"><SPAN style="color: rgb(0, 113, 188);"><A href="../../agenda/cybersecurity/fedramp/"><IMG 
width="78" height="72" class="alignnone size-full wp-image-24391" alt="fedramp" 
src="../../assets/img/icon.fedramp.png"></A></SPAN></H4>
<H4 class="icon_caption" style="text-align: center;"><SPAN">FedRAMP</SPAN></H4>
	
	</TD>
	<TD VALIGN="top"  style="border-style: hidden;"><CENTER>
	
	    <H4 style="text-align: center;"><A href="../../agenda/cybersecurity/identity-management-hspd-12/"><IMG 
width="108" height="78" class="alignnone size-full wp-image-24401" alt="identity" 
src="../../assets/img/icon.icam.png"></A></H4>
<H4  class="icon_caption" style="text-align: center;"><SPAN style="color: rgb(0, 113, 188);">Identity 
Management (HSPD-12)</SPAN></H4>
	
	</TD>
	</TR>

	<TR>
	
	<TD ALIGN=TOP  style="border-style: hidden;"><CENTER>
	<SPAN style="color: rgb(0, 113, 188);"><A href="../../agenda/cybersecurity/continuous-monitoring/"><IMG 
width="88" height="78" class="alignnone size-full wp-image-24441" alt="monitoring2" 
src="../../assets/img/icon.continuous.monitoring.png"></A></SPAN></H4>
<H4  class="icon_caption" style="text-align: center;"><SPAN>Continuous 
Monitoring</SPAN>
	
	</TD>
	<TD VALIGN=TOP  style="border-style: hidden;"><CENTER>
		  <SPAN style="color: rgb(0, 113, 188);"><A href="../../agenda/cybersecurity/tic/"><IMG 
width="78" height="83" class="alignnone wp-image-24501 size-full" alt="" 
src="../../assets/img/icon.tic.png"></A></SPAN></H4>
<H4 class="icon_caption" style="text-align: center;"><SPAN>Trusted 
Internet Connection 
(TIC)</SPAN>
	
	</TD>
	
	</TR>
	
	</TABLE>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
