<div id="textblock_138283">Our Nation's security and economic prosperity depend on the stability 
and integrity of our Federal communications and information infrastructure. Threats to cyberspace
pose some of the most serious challenges of the 21st century for the United States.</p>

<p></p>

In order to address the continuously changing environment of threats posed on our nation’s cybersecurity defenses, 
the Federal Government must continue its vigorous advancement of technical and policy protection capabilities
for national systems, to expand partnerships with the private sector, and to work with Congress to clarify roles and
responsibilities.</div>

