<div id="textblock_32625">
The DCOI Community of Practice (CoP) provides both in-person and virtual forums for agencies to discuss relevant data center issues including infrastructure management, facility oversight and optimization, performance reporting, new technologies, and the data center shared services marketplace, and more.
  <p></p>
<h2 class="section_header">Agencies can participate in the CoP in the following ways:</h2>
  
<h3 class="sub_section_header">Attending Monthly Meetings</h2>
The DCOI CoP meets monthly on the first Wednesday of each month in Washington, DC.  These meetings provide agencies with an opportunity to learn about DCOI progress and resources, ask questions and share insights with data center management colleagues.
  <p></p>
<LI>Submit ideas for agenda items or issues you would like to see addressed to 
  <a href="mailto:dcoi@gsa.gov">dcoi@gsa.gov</a></LI>
  <LI>Review the agenda and come prepared with questions for the topics to be discussed</LI>
  <LI>olunteer to present at a meeting</LI>
  
<p></p> 
  

<h3 class="sub_section_header">Participating in Working Groups</h3>
Working groups aligned with CoP goals will be led by volunteers and established as needed. 
  These groups will convene outside of the monthly meetings.
  
  <LI>Join or volunteer to lead a working group</LI>
  <LI>Share working group insights at the monthly meetings, online forum and online library</li>
<LI>Email <a href="mailto:dcoi@gsa.gov">dcoi@gsa.gov</a> 
  to suggest topics for new working groups</LI>

<h3 class="sub_section_header">Joining the CoP listserv</h3>
Subscribe to the DCOI CoP listserv to keep updated on opportunities and progress.  
  Send an email message from a .gov or .mil email address only to 
  <a style="color: #0088cc; outline: 0px; transition: all 0.3s;" 
     href="mailto:listserv@listserv.gsa.gov"><i>listserv@listserv.gsa.gov</i></a> 
  to join the DCOI listserv/CoP . The message should not include any content in the subject field.
  Enter “subscribe datacenters” in the body of the message. <BR>
  <i>Please Note: This is an unmoderated list. 
  Messages sent to the listserv will be forwarded to all subscribers.</i>
  
  
  <h3 class="sub_section_header">Posting in 
    the CoP Forum (on Acquisition Gateway)</h3>

Join CoP online forums to share information and access knowledge from colleagues on optimizing data centers.
<BR>
  <i>Please Note: The forums are unmoderated and your message will be posted immediately.</i></p>
<LI>Network with colleagues by starting a conversation or responding to a post
  <LI>Suggest a new forum topic by emailing <A HREF="mailto:dcoi@gsa.gov">dcoi@gsa.gov</A></LI>
  <p></p>
  
  <h3 class="sub_section_header">Find resources on the 
    <a href="https://cioknowledge.max.gov/?q=search1&amp;f[0]=field_1865593_1%3AData%20Center">DCOI Knowledge Portal</a> 
    (on OMB MAX)</h3>
  Access and contribute to the DCOI Knowledge Portal.
  <LI>Identify and review topics/resources of interest</LI>
  <LI>Email <a href="mailto:dcoi@gsa.gov">dcoi@gsa.gov</a> to contribute to the DCOI Knowledge Portal</LI>
  </div>

