The government must be able to deliver information and services to the American people anytime, anywhere and on any platform or device. For far too long, agencies delivered their information in programmatic silos, missing opportunities for coordination or collaborative partnerships. The Digital Government Strategy was developed to provide agencies with guidance on improving digital services and to enable the government to thrive within the fast-paced, ever-changing world of technology.
<p></p>
Designing for openness from the start – making open data the default for government IT systems and embracing the use of web APIs – will enable government to more easily deliver information and services through multiple channels, including mobile, and engage the public and America’s entrepreneurs as partners in building a better government.
<p></p>
<h2 class="section_header">RESOURCES</h2>
<LI><a href="https://project-open-data.cio.gov/">Project Open Data website</a></LI>
<LI><a href="https://playbook.cio.gov/">U.S. Digital Services Playbook</a></LI>
<LI><a href="https://obamawhitehouse.archives.gov/sites/default/files/omb/egov/digital-government/digital-government.html">Digital
Government Strategy</a></LI>
 
