<div>
<strong>OVERVIEW:</strong> In celebration of the Women’s History Month, the Federal Chief Information Officers Council (CIOC) is pleased to host Women in Federal Information Technology and Cybersecurity. The event brings together the nation’s top federal information technology executives to celebrate the success of women thriving in today’s federal IT enterprise and to discuss strategies that engage, inspires, and motivate more women to pursue a career in IT. 
As demonstrated by the President’s Management Agenda (PMA), building and maintaining a workforce with modern technology skills is a key priority, and the CIOC is committed to supporting these efforts.  Through this event, participants will hear stories from some of the Federal IT and Cyber community’s highly successful leaders to share their perspectives about how women can thrive in IT careers and purse IT and cybersecurity career opportunities.  Attendees will also hear from newly appointed Federal CIO Suzette Kent as she shares strategies the administration is implementing from the PMA to build a modern federal IT workforce.
<p></p>
<p></p>

<STRONG>WHEN:</STRONG> 9:00 a.m. - 12:00 p.m., March 29, 2018 (EST).
<p></p>
<p></p>
<STRONG>WHERE:</STRONG> Jefferson Auditorium – South Building, U.S. Department of Agriculture.
<p></p>
The Jefferson Auditorium - South Building of the Department of Agriculture is conveniently located with access to the Metrorail and one block from the Washington Mall. This area is also accessible by car from several major routes, however limited street parking is available.
<p></p>
<p></p>
<STRONG>WHO:</STRONG> Open to the Public. 
<p></p>
<p></p>
<STRONG>REGISTRATION:</STRONG> Required for in-person attendance. Register for the event here. 
<p></p>
  The event will be streamed live on <A HREF="https://youtu.be/H6kv1b6z2aY">USDA’s YouTube channel</A>, for those who would like to participate virtually.
<p></p>
<p></p>
<STRONG>VISITOR ACCESS:</STRONG> All non-federal government visitors must register through Eventbrite to gain access to the building and bring identification on the day of the event. Federal employees must have proper identification to access the building. Handicap entrances and elevators to the building are located at Wing 1 on Independence Ave.
<p></p>
<p></p>
  <STRONG>SPEAKERS:</STRONG> The confirmed speaker lineup includes:
<LI>Suzette Kent, Federal CIO of the United States</LI>
<LI>Beth Killoran, CIO, U.S. Department Health and Human Services</LI>
<LI>Renee Wynn, CIO, National Aeronautics and Space Administration</LI>
<LI>Jason Gray, CIO, U.S. Department of Education</LI>
<LI>Maria Roat, CIO, Small Business Administration</LI>
<LI>Gary Washington, CIO, U.S. Department of Agriculture</LI>
<LI>Joanne Collins Smee, Acting Director of Technology Transformation Services, U.S. General Services Administration GSA</LI>

<table>
  
  <!-- COLUMN HEADERS -->
  
<tr>
<td style="border-style: hidden;"><center>
<STRONG>Time</STRONG>
</center>
</td>

<td style="border-style: hidden;"><center>
<STRONG>Title</STRONG>
</center>
</td>

<td style="border-style: hidden;"><center>
<STRONG>Speakers</STRONG>
</center>
</td>

<!--<td style="border-style: hidden;"><center>
  <STRONG>Speakers</STRONG>
</center>
</td>-->

</tr>

  <!-- INTRODUCTION AND OPENING REMARKS -->
  

<tr>
<td valign=top width="10%" style="border-style: hidden; text-align: center;">
9:00 am <BR>-<BR>  9:15am
</td>

<td valign=top style="border-style: hidden;" NOWRAP>
Introduction and Opening Remarks
</td>

<td valign=top style="border-style: hidden;" width="35%">
Suzette Kent, OMB <!--Opening remarks by the new Federal CIO-->
</td>


<td valign=top style="border-style: hidden;">
<!--Suzette Kent, OMB-->
</td>

</tr>

<!-- CULTIVATING IT INTEREST IN OUR YOUNG WOMEN -->
  
<tr>
<td valign=top width="10%" style="border-style: hidden;text-align: center;">
9:15 am <BR>-<BR> 10:15am
</td>

<td valign=top style="border-style: hidden;" NOWRAP>
Cultivating IT Interest in our Young Women
</td>

<!--<td valign=top style="border-style: hidden;"  width="35%">
Panel that discusses the importance of and ways to lead the next wave of innovation and entrepreneurship and to inspire more young women to enter the world of technology.
</td>-->


<td valign=top style="border-style: hidden;">
Jason Gray, Education<BR>
Joanne Collins Smee, GSA<BR>
Renee Wynn, NASA
</td>

</tr>

  <!-- PANEL: MOVING UP AND FORWARD TOGETHER -->
  
<tr>
<td valign=top width="10%" style="border-style: hidden;text-align: center;">
10:15 am <BR>-<BR> 11:15 am
</td>

<td valign=top style="border-style: hidden;" NOWRAP>
Panel: Moving Up and Forward Together
</td>

<!--<td valign=top style="border-style: hidden;"  width="35%">
Successful female leaders from across the federal government discuss the experiences that led them to where they are today.
  </td>-->


<td valign=top style="border-style: hidden;">
Maria Roat, SBA<BR>
Beth Killoran, HHS
</td>

</tr>
  
  
  <!-- FIRESIDE CHAT: WOMEN IN LEADERSHIP -->
  
<tr>
<td valign=top width="10%" style="border-style: hidden;text-align: center;">
11:15 am <BR>-<BR> 11:45 am
</td>

<td valign=top style="border-style: hidden;" NOWRAP>
Fireside Chat: Women in Leadership
</td>

<td valign=top style="border-style: hidden;" width="35%">
Suzette Kent, OMB<!--The CIO of JP Morgan discusses what enables organizations to build truly diverse and inclusive cultures and how to break through glass ceilings.-->
  </td>


<td valign=top style="border-style: hidden;">
Suzette Kent, OMB
  </td>

</tr>
  

  
  <!-- FIRESIDE CHAT: WOMEN IN LEADERSHIP -->
  
<tr>
<td valign=top width="10%" style="border-style: hidden;text-align: center;">
11:50 am <BR>-<BR> 12:00pm
</td>

<td valign=top style="border-style: hidden;" NOWRAP>
Closing Remarks
</td>

<!--<td valign=top style="border-style: hidden;" width="35%">
Closing remarks by USDA’s CIO
  </td>-->


<td valign=top style="border-style: hidden;">
Gary Washington, USDA
  </td>

</tr>

</table>


<center>
ADDITIONAL INFORMATION:
To learn more about the Federal Chief Information Officers Council, please visit <A HREF="https://www.cio.gov">CIO.gov</A>.

</center>

</div>
