<div>
<strong>OVERVIEW:</strong> In celebration of the Women’s History Month, the Federal Chief Information Officers Council (CIOC) is pleased to host Women in Federal Information Technology and Cybersecurity. This event brings together the nation’s top federal information technology executives to celebrate the successes of women thriving in today’s federal IT enterprise and to discuss strategies that engage, inspire, and motivate more women to pursue a career in IT. 
As demonstrated by the President’s Management Agenda (PMA), building and maintaining a workforce with modern technology skills is a key priority, and the CIOC is committed to supporting these efforts.  Through this event, participants will hear stories from some of the Federal IT and Cyber community’s highly-successful leaders to share their perspectives about how women can thrive in IT careers and pursue IT and cybersecurity career opportunities.  Attendees will also hear from newly appointed Federal CIO Suzette Kent as she shares strategies the administration is implementing from the PMA to build a modern federal IT workforce.
<p></p>
<p></p>

<STRONG>WHEN:</STRONG> Thursday, March 29, 2018,  9:00 A.M. - 12:00 P.M. (ET).
<p></p>
<p></p>
<STRONG>WHERE:</STRONG> U.S. Department of Agriculture (USDA), Jefferson Auditorium – South Building.
<p></p>
The Jefferson Auditorium - South Building of the USDA is conveniently located outside of the Smithsonian Metrorail Station on the Blue, Orange, and Silver lines.  Please use the Independence Avenue exit, for most convenient access to the building. The building is also accessible by car from several major routes, street and garage parking are available, but extremely limited
<p></p>
<p></p>
<STRONG>WHO:</STRONG> Open to the Public. 
<p></p>
<p></p>
<STRONG>REGISTRATION:</STRONG> Required for in-person attendance. <a href="https://womeninfederalit.eventbrite.com" target="_blank">Register for the event here.</a> 
<p></p>
The event will be streamed live on <A HREF="https://youtu.be/H6kv1b6z2aY">USDA’s YouTube channel</A>, for those who would like to participate virtually.
<p></p>
<p></p>
<STRONG>VISITOR ACCESS:</STRONG> All visitors not affiliated with the Federal government must register through Eventbrite to gain access to the building and bring identification on the day of the event. Federal employees [and contractors] must have proper Federal govenrment identification to access the building. Accessible entrances and elevators to the building are located at Wing 1 on Independence Avenue SW.
<p></p>
<p></p>
  <STRONG>SPEAKERS:</STRONG> The confirmed speaker lineup includes:
  <strong>Opening Speaker:</strong>Suzette Kent, Federal CIO, Office of Management and Budget
  <strong>Closing Speaker:</strong>Gary Washington, CIO, U.S. Department of Agriculture
  
  <strong>Panelists:</strong>
  <LI>Margie Graves, Deputy CIO, Office of Management Budget</LI>
  <LI>Sylvia Burns, CIO, U.S. Department of Interior</LI>
  <LI>Jason Gray, CIO, U.S. Department of Education</LI>
  <LI>Beth Killoran, CIO, U.S. Department Health and Human Services</LI>
  <LI>Maria Roat, CIO, Small Business Administration</LI>
  <LI>Gary Washington, CIO, U.S. Department of Agriculture</LI>
  <LI>Renee Wynn, CIO, National Aeronautics and Space Administration</LI>
  <LI>Dr. Davina Pruitt-Mentle, Lead for Academic Engagement, NIST/NICE</LI>
  <LI>Joann Collins Smee, Acting Director of Technology Transformation Services, U.S. General Services Administration</li>
  
  

  <!--<p align="center"><strong>Notional Event Schedule</strong></p>-->
  
<table>
  
  <!-- COLUMN HEADERS -->
<tr>
<td style="border-style: hidden;"><center>
<STRONG></STRONG>
</center>
</td>

<td style="border-style: hidden;"><center>
<STRONG>Notional Event Schedule</STRONG>
</center>
</td>

<td style="border-style: hidden;"><center>
<STRONG></STRONG>
</center>
</td>
  
  <tr>
<td style="border-style: hidden;"><center>
<STRONG></STRONG>
</center>
</td>

<td style="border-style: hidden;"><center>
<STRONG></STRONG>
</center>
</td>

<td style="border-style: hidden;"><center>
<STRONG></STRONG>
</center>
</td>

<!--<td style="border-style: hidden;"><center>
  <STRONG>Speakers</STRONG>
</center>
</td>-->

</tr>

  <tr>
<td style="border-style: hidden;"><center>
<STRONG>Time</STRONG>
</center>
</td>

<td style="border-style: hidden;"><center>
<STRONG>Title</STRONG>
</center>
</td>

<td style="border-style: hidden;"><center>
<STRONG>Speakers</STRONG>
</center>
</td>

<!--<td style="border-style: hidden;"><center>
  <STRONG>Speakers</STRONG>
</center>
</td>-->

</tr>

  <!-- INTRODUCTION AND OPENING REMARKS -->
  

<tr>
<td valign=top width="10%" style="border-style: hidden; text-align: center;">
9:00 am <BR>-<BR>  9:15am
</td>

<td valign=top style="border-style: hidden;" NOWRAP>
  <center>Introduction and Opening Remarks</center>
</td>

<td valign=top style="border-style: hidden;" width="35%">
  <center>Suzette Kent, OMB</center> <!--Opening remarks by the new Federal CIO-->
</td>


<td valign=top style="border-style: hidden;">
<!--Suzette Kent, OMB-->
</td>

</tr>

<!-- CULTIVATING IT INTEREST IN OUR YOUNG WOMEN -->
  
<tr>
<td valign=top width="10%" style="border-style: hidden;text-align: center;">
9:15 am <BR>-<BR> 10:15am
</td>

<td valign=top style="border-style: hidden;" NOWRAP>
  <center>Cultivating IT Interest in our Young Women</center>
</td>

<!--<td valign=top style="border-style: hidden;"  width="35%">
Panel that discusses the importance of and ways to lead the next wave of innovation and entrepreneurship and to inspire more young women to enter the world of technology.
</td>-->


<td valign=top style="border-style: hidden;">
  <center>Jason Gray, Education<BR></center>
    <center>Joanne Collins Smee, GSA<BR></center>
      <center>Renee Wynn, NASA</center>
</td>

</tr>

  <!-- PANEL: MOVING UP AND FORWARD TOGETHER -->
  
<tr>
<td valign=top width="10%" style="border-style: hidden;text-align: center;">
10:15 am <BR>-<BR> 11:15 am
</td>

<td valign=top style="border-style: hidden;" NOWRAP>
  <center>Panel: Moving Up and Forward Together</center>
</td>

<!--<td valign=top style="border-style: hidden;"  width="35%">
Successful female leaders from across the federal government discuss the experiences that led them to where they are today.
  </td>-->


<td valign=top style="border-style: hidden;">
<center>Maria Roat, SBA<BR>
Beth Killoran, HHS
  </td></center>

</tr>
  
  
  <!-- FIRESIDE CHAT: WOMEN IN LEADERSHIP -->
  
<tr>
<td valign=top width="10%" style="border-style: hidden;text-align: center;">
11:15 am <BR>-<BR> 11:45 am
</td>

<td valign=top style="border-style: hidden;" NOWRAP>
  <center>Fireside Chat: Women in Leadership</center>
</td>

<td valign=top style="border-style: hidden;" width="35%">
  <center>Suzette Kent, OMB<br>TBD</center><!--The CIO of JP Morgan discusses what enables organizations to build truly diverse and inclusive cultures and how to break through glass ceilings.-->
  </td>


<!--<td valign=top style="border-style: hidden;">
Suzette Kent, OMB
  </td>-->

</tr>
  

  
  <!-- FIRESIDE CHAT: WOMEN IN LEADERSHIP -->
  
<tr>
<td valign=top width="10%" style="border-style: hidden;text-align: center;">
11:50 am <BR>-<BR> 12:00pm
</td>

<td valign=top style="border-style: hidden;" NOWRAP>
  <center>Closing Remarks</center>
</td>

<!--<td valign=top style="border-style: hidden;" width="35%">
Closing remarks by USDA’s CIO
  </td>-->


<td valign=top style="border-style: hidden;">
  <center>Gary Washington, USDA</center>
  </td>

</tr>

</table>


<!--<center>
ADDITIONAL INFORMATION:
To learn more about the Federal Chief Information Officers Council, please visit <A HREF="https://www.cio.gov">CIO.gov</A>.

</center>-->

</div>
