<div>
<strong>OVERVIEW:</strong> In celebration of the Women’s History Month, the Federal Chief Information Officers Council (CIOC) is pleased to host Women in Federal Information Technology and Cybersecurity. The event brings together the nation’s top federal information technology executives to celebrate the success of women thriving in today’s federal IT enterprise and to discuss strategies that engage, inspires, and motivate more women to pursue a career in IT. 
As demonstrated by the President’s Management Agenda (PMA), building and maintaining a workforce with modern technology skills is a key priority, and the CIOC is committed to supporting these efforts.  Through this event, participants will hear stories from some of the Federal IT and Cyber community’s highly successful leaders to share their perspectives about how women can thrive in IT careers and purse IT and cybersecurity career opportunities.  Attendees will also hear from newly appointed Federal CIO Suzette Kent as she shares strategies the administration is implementing from the PMA to build a modern federal IT workforce.
<p></p>
<p></p>

<STRONG>WHEN:</STRONG> 9:00 a.m. - 12:00 p.m., March 29, 2018 (EST).
<p></p>
<p></p>
WHERE: Jefferson Auditorium – South Building, U.S. Department of Agriculture.
<p></p>
The Jefferson Auditorium - South Building of the Department of Agriculture is conveniently located with access to the Metrorail and one block from the Washington Mall. This area is also accessible by car from several major routes, however limited street parking is available.
<p></p>
<p></p>
WHO: Open to the Public. 
<p></p>
<p></p>
REGISTRATION: Required for in-person attendance. Register for the event here. 
<p></p>
The event will be streamed live on USDA’s YouTube channel, for those who would like to participate virtually.
<p></p>
<p></p>
VISITOR ACCESS: All non-federal government visitors must register through Eventbrite to gain access to the building and bring identification on the day of the event. Federal employees must have proper identification to access the building. Handicap entrances and elevators to the building are located at Wing 1 on Independence Ave.
<p></p>
<p></p>
SPEAKERS: The confirmed speaker lineup includes:
<LI>Suzette Kent, Federal CIO of the United States</LI>
<LI>Beth Killoran, CIO, U.S. Department Health and Human Services</LI>
<LI>Renee Wynn, CIO, National Aeronautics and Space Administration</LI>
<LI>Jason Gray, CIO, U.S. Department of Education</LI>
<LI>Maria Roat, CIO, Small Business Administration</LI>
<LI>Gary Washington, CIO, U.S. Department of Agriculture</LI>
<LI>Joann Collins Smee, Acting Director of Technology Transformation Services at GSA</LI>

<table>
<tr>
<td><center>
Time
</center>
</td>

<td><center>
Title
</center>
</td>

<td><center>
Description
</center>
</td>


<td><center>
Speakers
</center>
</td>

</tr>


<tr>
<td valign=top>
9:00 am -  9:15am
</td>

<td valign=top>
Introduction and Opening Remarks
</td>

<td valign=top>
Opening remarks by the new Federal CIO
</td>


<td valign=top>
Suzette Kent, OMB
</td>

</tr>




</table>


<center>
ADDITIONAL INFORMATION:
To learn more about the Federal Chief Information Officers Council, please visit <A HREF="https://www.cio.gov">CIO.gov</A>.

</center>

</div>
