<DIV id="textblock_687605">
The Federal Risk and Authorization Management Program, or <A href="https://www.gsa.gov/portal/category/102371">FedRAMP</A>, 
is a government-wide program that provides a standardized approach to security 
assessment, authorization, and continuous monitoring for cloud products and 
services. This approach uses a “do once, use many times” framework that saves an 
estimated 30-40% of government costs, as well as both time and staff required to 
conduct redundant agency security assessments. FedRAMP is the result of close 
collaboration with cybersecurity and cloud experts from the General Services 
Administration (GSA), National Institute of Standards and Technology (NIST), 
Department of Homeland Security (DHS), Department of Defense (DOD), National 
Security Agency (NSA), Office of Management and Budget (OMB), the Federal Chief 
Information Officer (CIO) Council and its working groups, as well as private 
industry.<p></p>
The FedRAMP program is designed to comply with the Federal Information 
Security Management Act of 2002 (FISMA). It aims to accelerate the adoption of 
secure cloud solutions through reuse of assessments and authorizations, increase 
confidence in security assessments and security of cloud solutions, achieve 
consistent security authorizations using a baseline set of agreed upon standards 
used for cloud product approval, ensure consistent application of existing 
security practice, and increase automation and near real-time data for 
continuous monitoring.<p></p>
FedRAMP is the result of a close collaboration with cybersecurity and cloud 
experts from GSA, NIST, DHS, DOD, NSA, OMB, the Federal CIO Council and its 
working groups, as well as private industry.<BR>Below are the FedRAMP duties and 
responsibilities for the CIO Council:<p></p>
- Publish and disseminate information from the FedRAMP PMO and JAB to 
Executive departments and agencies.<BR>- Publish the standardized baseline of 
security controls, privacy controls, and controls selected for continuous 
monitoring from NIST Special Publication 800-53 (as amended) included within the 
FedRAMP security authorization requirements.<BR>- Coordinate vetting of controls 
and requirements from the JAB.<BR>- Publish all FedRAMP documents from the JAB 
or PMO.<BR><BR><BR><p></p>
<H3 class="sub_section_header">Resources</H3>
<A href="https://www.fedramp.gov/files/2015/03/fedrampmemo.pdf">Guide to 
Understanding FedRAMP</A> (June 6, 2014)<BR><A href="http://www.gsa.gov/graphics/staffoffices/FedRAMP_JAB_Charter_SIGNED.pdf">FedRAMP 
Joint Authorization Charter</A><BR><A href="https://www.fedramp.gov/files/2015/03/FedRAMP-Rev-4-Baseline-Workbook-FINAL062014.xlsx">FedRAMP 
Security Controls</A><p></p>
For questions regarding FedRAMP, please direct inquiries to 
<A HREF="mailto:questions@fedramp.gov">questions@FedRAMP.gov</A>.<p></p></DIV>
