To help close the productivity gap in government, the Federal Government needs a ‘future ready’ workforce 
equipped with the modern tools and technologies they need to serve the American people effectively, smart 
telework policies that give Federal employees increased flexibility, while also reducing the government’s 
real estate footprint and better the ability of the government to function effectively during an emergency.
The government also needs to be strategic about how it buys, manages and uses mobile devices and collaboration tools 
cost-effectively and securely.</p>
<p></p>
Cybersecurity is a growing area of importance that will continue to require
<a href="https://www.whitehouse.gov/the-press-office/2016/02/09/fact-sheet-cybersecurity-national-action-plan">Cybersecurity National
Action Plan (CNAP)</a> includes many provisions to expand the cybersecurity workforce. The CNAP includes provisions 
to enhance student loan forgiveness programs for cybersecurity experts joining the Federal workforce and catalyzing
investment in cybersecurity education as part of a robust computer science curriculum through the 
<a href="https://www.whitehouse.gov/the-press-office/2016/01/30/fact-sheet-president-obama-announces-computer-science-all-initiative-0">Computer Science for All Initiative</a>.
The Scholarship for Service program will be expanded to include the CyberCorps Reserve which will offer scholarships to Americans who wish to 
obtain an education in cybersecurity. The <a href="https://niccs.us-cert.gov/education/national-centers-academic-excellence-cae"> National Centers 
for Academic Excellence in Cybersecurity Program </a> will also be expanded and support for it will be strengthened. Together,
these initiatives aim to develop a robust workforce that will effectively meet the nation’s cybersecurity personnel requirements.
