<div id="textblock_93281">
Innovation can bring about both incremental growth and radical change in how we use technology to serve the American people. The Innovation Committee, which operates under the authority of the Federal CIO Council, 
helps agencies to speed the adoption of new practices, processes and technologies.
  
  
<p>&nbsp;</p>

<h2 class="section_header">STRATEGIC INITIATIVES</h2>
<LI>Investigating Emerging Technology</LI>
  <LI>Innovative Acquisition Efforts</LI>
<LI>Data Analytics and Big Data</LI>
<LI>Sharing Best Practices</LI>
<LI>Transforming Mobility</LI>
<p>&nbsp;</p>
<h2  class="section_header">LEADERSHIP</h2>
<p><a href="../../../../about/members-and-leadership/ms-maria-roat/">Maria Roat</a><br />
Chief Information Officer<br />
Small Business Administration</p>
<p>&nbsp;</p><p>Want more information?<br />
Please visit the <A HREF="https://community.max.gov/display/Egov/CIO+Council+Innovation+Committee">Innovation Committee Max Page (login required)</A> for more details.</p>
</div>
