Since the issuance one year ago of <a href="https://www.whitehouse.gov/presidential-actions/presidential-executive-order-strengthening-cybersecurity-federal-networks-critical-infrastructure/">EO 13800</a> commissioning the Federal IT Modernization Report, this Administration has continued to place a significant emphasis on improving the way that the Federal Government serves American Citizens.  The analysis commissioned through the EO have resulted in insights that are now informing our forward strategies.   In response to areas identified by the IT Modernization report and the Federal Cybersecurity Risk Determination Report and Action Plan to the President of the United States,</p>  

	<LI>Office of Management and Budget (OMB) has codified IT Modernization as a key objective in the <a href="https://performance.gov/pma/">President’s Management Agenda (PMA)</a></LI>
	<LI>Federal Agencies have begun to make real progress on the actions outlined in the Federal IT Modernization Report</LI>
	<LI>General Services Administration (GSA) has stood up IT Modernization Centers of Excellence (CoEs)</LI>
	<LI>Congress has passed the Modernizing Government Transformation (MGT) Act</LI>
  <LI>The Technology Modernization Fund has been established and the Board is actively reviewing proposals from agencies</LI>
	  <li>And engagement with private sector and academia have continued</LI>
<BR>
The insights and findings from the report have helped bring clarity to issues and focus resources on the path forward.  Collectively, these actions are the catalyst to dramatically accelerate the Federal Government’s IT Modernization efforts to improve services and the security posture of Federal IT. 
<BR>
For more information regarding the IT Modernization Progress and the Release of the Federal Cybersecurity Risk Determination Report and Action Plan, please visit the blog entries below: </P
<LI>	<a href="https://federalist-proxy.app.cloud.gov/preview/gsa/cio-council/development/2018/05/11/IT-Modernization-Update/">IT Modernization Progress Update</a></LI>
<LI>	<a href="https://federalist-proxy.app.cloud.gov/preview/gsa/cio-council/development/2018/05/11/Risk-Report/">Federal Cybersecurity Risk Determination Report and Action Plan</a></p> 
-->
