<div class="usa-grid">
  <div class="usa-width-one-half">
	<a href="./margie-graves/"><img class="size-full wp-image-30379 aligncenter" src="../../assets/img/members/bio_Kent.png" 			alt="Official Portrait of Suzette Kent, U.S. Federal Chief Information Officer" width="260" height="338" /></a></div>
   <div class="usa-width-one-half">
	 <a href="./margie-graves/"><img class="size-full wp-image-30379 aligncenter" src="../../assets/img/members/bio_Graves.png" 			alt="Official Portrait of Suzette Kent, U.S. Federal Chief Information Officer" width="260" height="338" /></a></div>
 </div> 



















