<STYLE type="text/css">
   H3 {font-family: 'raleway', sans-serif; color: #515151; text-decoration: none;}
   a.ciolink  {text-decoration: none;}
 </STYLE>

 <div class="usa-grid">
	 
    <div class="usa-width-one-third">
		<a href="./bio.ahluwalia.gundeep/"><img class="size-full wp-image-30379 aligncenter" src="../../assets/img/members/bio_Ahluwalia.png" alt="Mr. Gundeep Ahluwalia" width="260" height="338" /></a>
	 <a href="./bio.ahluwalia.gundeep/"> <h3>Mr. Gundeep Ahluwalia</h3></a>
	  Chief Information Officer, <br> U.S. Department of Labor
	 </div>
	 
    <div class="usa-width-one-third">
		<a href="./bio.aronson.dorothy/"><img class="size-full wp-image-30379 aligncenter" src="../../assets/img/members/bio_Aronson.png" alt="Ms. Dorothy Aronson" width="260" height="338" /></a>
	 <a href="./bio.aronson.dorothy/"> <h3>Ms. Dorothy Aronson</h3></a>
	  Chief Information Officer, <br> U.S. National Science Foundation
	 </div>
	 
    <div class="usa-width-one-third">
		<a href="./bio.burns.sylvia/"><img class="size-full wp-image-30379 aligncenter" src="../../assets/img/members/bio_Burns.png" alt="Ms. Sylvia Burns" width="260" height="338" /></a>
	 <a href="./bio.burns.sylvia/"> <h3>Ms. Sylvia Burns</h3></a>
	  Chief Information Officer, <br> U.S. Department of the Interior
	 </div>
	 
	  <div class="usa-width-one-third">
		<a href="./bio.burns.sylvia/"><img class="size-full wp-image-30379 aligncenter" src="../../assets/img/members/bio_Burns.png" alt="Ms. Sylvia Burns" width="260" height="338" /></a>
	 <a href="./bio.burns.sylvia/"> <h3>Ms. Sylvia Burns</h3></a>
	  Chief Information Officer, <br> U.S. Department of the Interior
	 </div>
	 
  </div>







