
<STYLE type="text/css">
   H3 {font-family: 'raleway', sans-serif; color: #515151; text-decoration: none;}
   a  {text-decoration: none;}
   img.bio {
            border-radius: 5px 5px 0 0;
	}
    .card {
   	    border-radius: 5px;
	    height: 450px;
	    width: 280px;
	    background-color: #eaeaea;
	}
    .container {
    padding: 2px 16px;
	}
 </STYLE>


<div class="usa-grid" >
  <div class="usa-width-one-half">
	 <div class="card">
	<a href="./margie-graves/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Kent.png" alt="Official Portrait of Suzette Kent, U.S. Federal Chief Information Officer" /></a>
	 <div class="container"> <a href="./margie-graves/"> <h3>Ms. Suzette Kent</h3></a>
		 U.S. Federal Chief Information Officer, <br> Office of Management and Budget</div>
	  </div>
	</div>
	
   <div class="usa-width-one-half">
	<div class="card">
	 <a href="./margie-graves/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Graves.png" alt="Official Portrait of Suzette Kent, U.S. Federal Chief Information Officer" /></a>
	  <div class="container"><a href="./margie-graves/"> <h3>Ms. Margie Graves</h3></a>
		  Federal Deputy Chief Information Officer, <br> Office of Management and Budget</div>
	   </div>
	</div>
 </div> 
<br>
<div class="usa-grid">
	<div class="usa-width-one-half">
		<div class="card">
			<a href="./mr-joseph-klimavicz/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Klimavicz.png" alt="Mr. Joseph Klimavicz" /></a>
	 <div class="container"><a href="./mr-joseph-klimavicz/"> <h3>Mr. Joseph Klimavicz</h3></a>
		 Council Vice-Chair<br>Chief Information Officer, <br> U.S. Department of Justice</div>
		</div>
	</div>
	
	<div class="usa-width-one-half">
		<div class="card">
			<a href="./mr-grant-schneider/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Cowan.png" alt="Mr. Joseph Klimavicz" /></a>
	 <div class="container"><a href="./mr-grant-schneider/"> <h3>Mr. Grant Schneider</h3></a>
		Acting Federal Chief Information Security Officer, <br> Office of Management and Budget</div>
		</div>
	</div>
</div>




















