<STYLE type="text/css">
   H3 {font-family: 'raleway', sans-serif; color: #515151; text-decoration: none;}
   a.ciolink  {text-decoration: none;}
   img.bio {
            border-radius: 5px 5px 0 0;
	}
    .card {
	
   	    border-radius: 5px;
	    height: 450px;
	    width: 280px;
	    background-color: #fcfcfc;
	}
    .container {
    padding: 2px 16px;
	}
	
 </STYLE>

<font style="font-family: 'Poppins', sans-serif; COLOR: #515151; font-size: 42px; align: left;">MEMBERS</font>
<br>
 <div class="usa-grid"> 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./mr-gundeep-ahluwalia/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Ahluwalia.png" alt="Mr. Gundeep Ahluwalia" /></a>
	 <div class="container"><a href="./mr-gundeep-ahluwalia/"> <h3>Mr. Gundeep Ahluwalia</h3></a>
		 Chief Information Officer, <br> U.S. Department of Labor</div>
	    </div>
	 </div>
	 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./ms-dorothy-aronson/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Aronson.png" alt="Ms. Dorothy Aronson"/></a>
	 <div class="container"><a href="./ms-dorothy-aronson/"> <h3>Ms. Dorothy Aronson</h3></a>
		 Chief Information Officer, <br> U.S. National Science Foundation</div>
	    </div>
	 </div>
	 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./ms-sylvia-burns/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Burns.png" alt="Ms. Sylvia Burns"/></a>
	 <div class="container"><a href="./ms-sylvia-burns/"> <h3>Ms. Sylvia Burns</h3></a>
		 Chief Information Officer, <br> U.S. Department of the Interior</div>
	 </div>	 
    </div>
  </div>
<br>
 <div class="usa-grid"> 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./mr-chad-cowan/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Cowan.png" alt="Mr. Chad Cowan"/></a>
	 <div class="container"><a href="./bio.mr-chad-cowan/"> <h3>Mr. Chad Cowan</h3></a>
		 Acting Chief Information Officer, <br> U.S. Department of Housing and Urban Development</div>
	 </div>
	</div>    
	 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./lieutenant-general-bruce-t-crawford/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Crawford.png" alt="LTG Bruce T. Crawford" /></a>
	 <div class="container"><a href="./lieutenant-general-bruce-t-crawford/"> <h3>LTG Bruce T. Crawford</h3></a>
		 Chief Information Officer, <br> U.S. Department of the Army</div>
	 </div>
	</div>    
	 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./mr-dana-deasy/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Deasy.png" alt="Mr. Dana Deasy"/></a>
	 <div class="container"><a href="./mr-dana-deasy/"> <h3>Mr. Dana Deasy</h3></a>
		 Chief Information Officer, <br> U.S. Department of Defense</div>
	 </div>	 
	</div>    
  </div>
<br>
<div class="usa-grid"> 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./max-everett/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Everett.png" alt="Mr. Max Everett" /></a>
	 <div class="container"><a href="./max-everett/"> <h3>Mr. Max Everett</h3></a>
		 Chief Information Officer, <br> U.S. Department of Energy</div>
	 </div>
	</div>    
	 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./dr-steven-fine/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Fine.png" alt="Dr. Steven Fine"/></a>
	 <div class="container"><a href="./dr-steven-fine/"> <h3>Dr. Steven Fine</h3></a>
		 Acting Chief Information Officer, <br> U.S. Environmental Protection Agency</div>
	 </div>
	</div>    
	 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./mr-david-garcia/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Garcia.png" alt="Mr. David Garcia" /></a>
	 <div class="container"><a href="./mr-david-garcia/"> <h3>Mr. David Garcia</h3></a>
		 Chief Information Officer, <br> U.S. Office of Personnel Management</div>
	 </div>	
	</div>    
  </div>
<br>
<div class="usa-grid"> 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./greg-garcia/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Gregory.png" alt="Mr. Gregory Garcia" /></a>
	 <div class="container"><a href="./bio.greg-garcia/"> <h3>Mr. Gregory Garcia</h3></a>
		 Chief Information Officer, <br> U.S. Army Corps of Engineers</div>
	 </div>
	</div>    
	 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./mr-jason-gray/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Gray.png" alt="Mr. Jason Gray" /></a>
	 <div class="container"><a href="./mr-jason-gray/"> <h3>Mr. Jason Gray</h3></a>
		 Chief Information Officer, <br> U.S. Department of Education</div>
	 </div>
	</div>    
	 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./ms-swarnali-haldar/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Haldar.png" alt="Ms. Swarnali Haldar" /></a>
	 <div class="container"><a href="./ms-swarnali-haldar/"> <h3>Ms. Swarnali Haldar</h3></a>
		 Chief Information Officer, <br> U.S. National Archives and Records Administration</div>
	 </div>	
	</div>   
  </div>
<br>
<div class="usa-grid"> 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./ms-vicki-hildebrand/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Hildebrand.png" alt="Ms. Victoria Hildebrand"/></a>
	 <div class="container"><a href="./ms-vicki-hildebrand/"> <h3>Ms. Victoria Hildebrand</h3></a>
		 Chief Information Officer, <br> U.S. Department of Transportation</div>
	 </div>
	</div>    
	 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./ms-beth-anne-killoran/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Killorian.png" alt="Ms. Beth Killorian" /></a>
	 <div class="container"><a href="./ms-beth-anne-killoran/"> <h3>Ms. Beth Killorian</h3></a>
		 Chief Information Officer, <br> U.S. Department of Health and Human Services</div>
	 </div>
	</div>    
	 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./mr-joseph-klimavicz/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Klimavicz.png" alt="Mr. Joseph Klimavicz" /></a>
	 <div class="container"><a href="./mr-joseph-klimavicz/"> <h3>Mr. Joeseph Klimavicz</h3></a>
		 Chief Information Officer, <br> U.S. Department of Justice</div>
	 </div>	
	</div>    
  </div>
<br>
<div class="usa-grid"> 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./jay-mahanand/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Mahanand.png" alt="Mr. Jay Mahanand"/></a>
	 <div class="container"><a href="./jay-mahanand/"> <h3>Mr. Jay Mahanand</h3></a>
		 Chief Information Officer, <br> U.S. Agency for International Development</div>
	 </div>
	</div> 
	
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./mr-rajive-mathur/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Mathur.png" alt="Mr. Rajive Mathur" /></a>
	 <div class="container"><a href="./mr-rajive-mathur/"> <h3>Mr. Rajive Mathur</h3></a>
		 Chief Information Officer, <br> U.S. Social Security Administration</div>
	 </div>
	</div>
	
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./ms-karen-mummaw/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Mummaw.png" alt="Ms. Karen Mummaw"/></a>
	 <div class="container"><a href="./ms-karen-mummaw/"> <h3>Ms. Karen Mummaw</h3></a>
		 Acting Chief Information Officer, <br> U.S. Department of State</div>
	 </div>	
	</div>    
  </div>
<br>

<div class="usa-grid"> 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./mr-david-nelson/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Nelson.png" alt="Mr. David Nelson" /></a>
	 <div class="container"><a href="./mr-david-nelson/"> <h3>Mr. David Nelson </h3></a>
		 Chief Information Officer, <br> U.S. Nuclear Regulatory Commission</div>
	 </div>
	</div>
	
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./mr-eric-olson/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Olson.png" alt="Mr. Eric Olson"/></a>
	 <div class="container"><a href="./mr-eric-olson/"> <h3>Mr. Eric Olson</h3></a>
		 Chief Information Officer, <br> U.S. Department of Treasury</div>
	 </div>
	</div>
	
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./ms-maria-roat/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Roat.png" alt="Ms. Maria Roat" /></a>
	 <div class="container"><a href="./ms-maria-roat/"> <h3>Ms. Maria Roat</h3></a>
		 Chief Information Officer, <br> U.S. Small Business Administration</div>
	 </div>	 
	</div>    
  </div>

<br>

<div class="usa-grid"> 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./camilo-sandoval/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Sandoval.png" alt="Mr. Camilo Sandoval" /></a>
	 <div class="container"><a href="./camilo-sandoval/"> <h3>Mr. Camilo Sandoval </h3></a>
		 Acting Chief Information Officer, <br> U.S. Department of Veterans Affairs</div>
	 </div>
	</div>
	
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./mr-david-shive/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Shive.png" alt="Mr. David Shive" /></a>
	 <div class="container"><a href="./mr-david-shive/"> <h3>Mr. David Shive</h3></a>
		 Chief Information Officer, <br> U.S. General Services Administration</div>
	 </div>
	</div> 
	
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./lieutenant-general-bradford-j-b-j-shwedo/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Shwedo.png" alt="Mr. Bradford Shwedo"/></a>
	 <div class="container"><a href="./lieutenant-general-bradford-j-b-j-shwedo/"> <h3>Lt. Gen. Bradford J. Shwedo</h3></a>
		 Chief Information Officer, <br> U.S. Department of the Air Force</div>
	 </div>	 
	</div>    
  </div>

<br>

<div class="usa-grid"> 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./rod-turk/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Turk.png" alt="Mr. Rod Turk" /></a>
	 <div class="container"><a href="./rod-turk/"> <h3>Mr. Rod Turk </h3></a>
		 Chief Information Officer, <br> U.S. Department of Commerce</div>
	 </div>
	</div>
	
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./washington-gary/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Washington.png" alt="Mr. Gary Washington" /></a>
	 <div class="container"><a href="./washington-gary/"> <h3>Mr. Gary Washington</h3></a>
		 Chief Information Officer, <br> U.S. Department of Agriculture</div>
	 </div>
	</div>
	
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./ms-renee-wynn/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Wynn.png" alt="Ms. Renee Wynn" /></a>
	 <div class="container"><a href="./ms-renee-wynn/"> <h3>Ms. Renee Wynn</h3></a>
		 Chief Information Officer, <br> U.S. National Aeronautics and Space Administration</div>
	 </div>	
	</div>    
  </div>

<br>

<div class="usa-grid"> 
    <div class="usa-width-one-third">
	    <div class="card">
		<a href="./dr-john-zangardi/"><img class="size-full wp-image-30379 aligncenter bio" src="../../assets/img/members/bio_Zangardi.png" alt="Mr. John Zangardi" /></a>
	 <div class="container"><a href="./dr-john-zangardi/"> <h3>Mr. John Zangardi</h3></a>
		 Chief Information Officer, <br> U.S. Department of Homeland Security</div>
	    </div>    
	</div>
    <div class="usa-width-one-third"></div>
	 
    <div class="usa-width-one-third"></div>	
	    
  </div>
