<DIV STYLE="width:100%;">The U.S. CIO supports goals of greater transparency, accountability, and citizen participation in Federal Government through the use of innovative IT strategies. The U.S. CIO works to ensure information security, protect individual privacy, and save taxpayer dollars by creating a Federal Government that strategically, efficiently, and effectively uses IT to serve and protect U.S. citizens.</DIV>

<h2 style="font-family: 'Poppins', sans-serif; COLOR: #515151; font-size: 28px; align: left;">GOVERNING PRINCIPLES</h2>

The U.S. CIO and the CIO Council establish standards against which the success of all agency programs can be measured, including:
<BR>
<LI>monitoring the year-to-year performance improvement of Federal Government programs</LI>
<LI>attracting and retaining a high-performance IT workforce</LI>
<LI>optimizing Federal Government information resources and investments</LI>
<LI>aligning IT solutions with Federal enterprise business processes</LI>
<LI>adopting and sharing best IT management practices</LI>
<LI>managing risk and ensuring privacy and security</LI>
