<div class="entry-content">
IT modernization is at the forefront of the <a href="https://www.performance.gov/PMA">President’s Management Agenda. </a> The CIO Council is working in collaboration with other CXO Councils to implement the following Cross-Agency Priority (CAP) goals.  
<BR><BR>The CIO Council plays a lead role in driving the following Cross-Agency Priority Goals:
 <BR><BR>
  <li><B>CAP Goal 1: Modernize IT to Increase Productivity and Security</b> 
In the 21st century, most government agencies rely on technology to deliver services to the American people and support the work of the Federal workforce in delivering those services. The Information Technology Modernization framework provides an integrated view of addressing IT challenges that leverages common capabilities to ensure that going forward strategic IT projects are better positioned for success.</li>
<BR>
 <li><B>CAP Goal 2: Leveraging Data as a Strategic Asset:</b> 
The use of data is transforming society, business, and the economy in the 21st Century. If the Federal Government does not maintain its role as a preeminent supplier and sophisticated user of data it will no longer be able to fulfill the trust placed in it by the American people. The Federal Government lacks a robust, integrated approach to using data to deliver on mission, serve customers, and steward resources.</li>
<BR>
The Administration is developing a Federal Data Strategy to leverage data as a strategic asset to grow the economy, increase the effectiveness of the Federal Government, facilitate oversight, and promote transparency.  
<BR><BR>
 <li><B>CAP Goal 3: Developing a Workforce for the 21st Century</b>
Federal employees underpin nearly all the operations of the Government, ensuring the smooth functioning of our democracy. However, the personnel system supporting Federal employees is a relic of an earlier era that has failed to keep pace with changing workforce needs. Both employees and managers agree that the performance management system fails to reward the best and address the worst employees. With annual civilian personnel costs of almost $300 billion, the Government should always be seeking to ensure its workforce has the right skills, is the right size, and operates with the responsiveness and flexibility needed to best accomplish its various missions. This goal will align and strategically manage the workforce to efficiently and effectively achieve its mission, including: hiring the best, removing the worst, and rewarding performance. </li>
<BR>
 <LI><B>CAP Goal 6: Shifting from Low-value to High-value Work </b>
Federal agencies will shift time, effort, and funding currently spent performing repetitive administrative tasks and complying with unnecessary and obsolete policies, guidance, and reporting requirements, toward accomplishing mission outcomes, with the objective of achieving no new net burden annually.
<BR><BR>
 <li><B>Cap Goal 10: Improving Outcomes through Federal IT Spending Transparency </b>
  The Federal Government will adopt Technology Business Management (TBM) government-wide by FY 2022. This approach will improve IT spending data accountability and transparency, empowering CXOs from across the enterprise to drive mission value and improved customer experience through technology.</li>
 
   
</div>
