The stove-piped and complex nature of the Federal enterprise has led over the years to a proliferation of duplicative 
and low priority investments in information technology (IT). At the same time, agencies too often seek to develop homegrown, 
proprietary solutions first, before assessing existing options for shared services or components. The Federal Government must
have the overarching goal of innovating with less as it pertains to technology. In order to do so, we must end the investment 
in low priority and duplicative investment in IT.The Federal Government must focus on maximizing the return on American 
taxpayers’ investment in government IT by ensuring it drives efficiency throughout the Federal Government. In order to
implement a number of current IT initiatives, Federal agencies have been charged with reviewing their respective IT 
investment portfolios to identify opportunities to consolidate the acquisition and management of commodity IT services, 
and increase the use of shared-service delivery models.
<p></p>
In support of this review process, OMB created the PortfolioStat process in March, 2012. A PortfolioStat session is a 
face-to-face, evidence-based review of an agency’s IT portfolio that includes data on commodity IT investments, potential 
duplications within the agency, investments that do not appear to be well aligned to agency missions or business functions,
and other key considerations and data within an agency’s IT portfolio.PortfolioStat is a tool that agencies use to assess
the current maturity of their IT portfolio management process, make decisions on eliminating duplication, augment current
CIO-led capital planning and investment control processes, and move to shared solutions in order to maximize the return on 
IT investments across the portfolio. 
<p></p>

While <a href="../techstat/">TechStat</a> examines IT
performance at the specific project or investment-level, PortfolioStat examines an agency’s IT portfolio as a whole and draws 
on the agency’s enterprise architecture to help identify and eliminate areas of duplication and waste.Through the PortfolioStat
process, agencies will develop a clearer picture of where duplication exists across their respective bureaus and components.
This analysis should inform the budget process and help agency Deputy Secretaries to eliminate waste and duplication within
the IT portfolio. A specific focus must be placed on reducing duplication within commodity IT by shifting to intra- and 
inter-agency shared services. Duplicative systems or contracts that support common business functions within an agency should
be targeted for consolidation in order to leverage the purchasing power of the agency
