start of quick links include
<section class="usa-section usa-section-dark">
  <div class="usa-grid">
  
  
    <div id="secondary" class="footer-sidebar widget-area section dark" role="complementary" style="background-color: #ff0000;">
  <div class="container">
    <div class="row">
      <aside id="text-4" class="widget widget_text"><h2 class="widget-title">About</h2>			<div class="textwidget"> <ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
          
            <li><a href="https://cio.sites.usa.gov/about/">Vision and Mission</a></li>
                    <li><a href="https://cio.sites.usa.gov/about/members/">Council Members</a></li>
            <li><a href="https://cio.sites.usa.gov/about/committees-affliates/">Committees and Affliates</a></li>
          </ul></div>
		</aside>		<aside id="recent-posts-2" class="widget widget_recent_entries">		<h2 class="widget-title">Fed IT Updates</h2>		<ul>
											<li>
					<a href="https://www.cio.gov/2017/12/22/final-it-modernization-report/">Final IT Modernization Report</a>
											<span class="post-date">December 22, 2017</span>
									</li>
											<li>
					<a href="https://www.cio.gov/2017/12/21/universal-design-whats-in-it-for-me/">Universal Design: What&#8217;s in it for Me?</a>
											<span class="post-date">December 21, 2017</span>
									</li>
											<li>
					<a href="https://www.cio.gov/2017/12/20/universal-design-what-is-it/">Universal Design: What is it?</a>
											<span class="post-date">December 20, 2017</span>
									</li>
					</ul>
		</aside><aside id="nav_menu-2" class="widget widget_nav_menu"><h2 class="widget-title">Resources</h2><div class="menu-footer-container"><ul id="menu-footer" class="menu"><li id="menu-item-29261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29261"><a href="https://www.cio.gov/resources/document-library/">Document Library</a></li>
<li id="menu-item-29271" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29271"><a href="https://www.cio.gov/resources/job-announcements/">Job Board</a></li>
<li id="menu-item-30090" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30090"><a href="https://cio.sites.usa.gov/sitemapindex.xml">Sitemap</a></li>
<li id="menu-item-28741" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28741"><a href="https://www.cio.gov/about/privacy-statement/">Privacy Statement</a></li>
<li id="menu-item-28801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28801"><a href="https://www.cio.gov/about/accessibility-statement/">Accessibility Policy</a></li>
<li id="menu-item-28791" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28791"><a href="http://www.usa.gov">USA.GOV</a></li>
</ul></div></aside><aside id="text-5" class="widget widget_text"><h2 class="widget-title">Federal IT Topics</h2>			<div class="textwidget"><ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">        
            <li><a href="https://cio.sites.usa.gov/agenda/modernization/">IT Modernization</a></li>
            <li><a href="https://cio.sites.usa.gov/agenda/sustainability-transparency/">Sustainability and Transparency</a></li>
            <li><a href="https://cio.sites.usa.gov/agenda/cybersecurity/">Cybersecurity</a></li>
</ul></div>
		</aside>    </div>
  </div>
    
    
    
    
    
    
    
    
    
    
  
  </div>
</section>
end of contact include
