<section class="usa-section usa-section-dark" style="background-color:#363f48;">
  <div class="usa-grid" style="background-color: #363f48;">
  
<div class="row4" style="width: 100%; background-color:#363f48;">
  <div class="column4">
	  <span class="footer_links_title">About</span><BR>
	  <a href="{{ site.baseurl }}/about/mission-vision/" class="footer_links">Vision and Mission</a><BR>
          <a href="{{ site.baseurl }}/about/members-and-leadership/" class="footer_links">Council Members</a><BR>
          <a href="{{ site.baseurl }}/about/committees-affiliates/" class="footer_links">Committees and Affiliates</a><BR>
	</div>
	
	
  <div class="column4">
	  <span class="footer_links_title">Fed IT Updates</span><BR>				
	    <img src="{{ site.iconpaper | prepend: site.baseurl }}" style="vertical-align:middle;">&nbsp;<a 
href="/2018/05/31/modernize-government-payroll-systems/"
class="footer_links">The Time to Modernize Government Payroll Systems is Now</a><BR>
		<span class="post-date">May 31, 2018</span><BR>
	  
	  <img src="{{ site.iconpaper | prepend: site.baseurl }}" style="vertical-align:middle;">&nbsp;<a 
href="/2018/05/30/Risk-Report/" class="footer_links">Release of the Federal Cybersecurity Risk Determination Report and Action Plan to the President of the United States</a><BR>
		<span class="post-date">May 30, 2018</span><BR>
	  
	  <img src="{{ site.iconpaper | prepend: site.baseurl }}" style="vertical-align:middle;">&nbsp;<a 
href="/2018/05/30/IT-Modernization/" class="footer_links">IT Modernization Update</a><BR>
		<span class="post-date">May 30, 2018</span><BR>
	  
	   <img src="{{ site.iconpaper | prepend: site.baseurl }}" style="vertical-align:middle;">&nbsp;<a 
href="/newpay-notice/" class="footer_links">NewPay Pre-Solicitation Notice Release</a><BR>
		<span class="post-date">May 18, 2018</span><BR>
	  
	  <img src="{{ site.iconpaper | prepend: site.baseurl }}" style="vertical-align:middle;">&nbsp;<a href="/2018/04/06/identity-draft/" class="footer_links">Strengthening the Cybersecurity of Federal Agencies through Improved Identity, Credential, and Access Management (ICAM)</a><BR>
		<span class="post-date">May 4, 2018</span><BR>								  
  </div>
	  
	  
  <div class="column4">
	  <span class="footer_links_title">Resources</span><BR>
	 <a href="{{ site.baseurl }}/resources/document-library/" class="footer_links">Document Library<BR>
	<!-- <a href="{{ site.baseurl }}/resources/job-announcements/">Job Board</a><BR> -->
	 <a href="{{ site.baseurl }}/about/privacy-statement/" class="footer_links">Privacy Statement</a><BR>
	 <a href="{{ site.baseurl }}/about/accessibility-statement/" class="footer_links">Accessibility Policy</a><BR>
	<a href="http://www.usa.gov">USA.GOV</a><BR>
  </div>
  <div class="column4">
	  <span class="footer_links_title">Federal IT Topics</span><BR>
		<a href="{{site.baseurl}}/fed-it-topics/modernization/" class="footer_links">IT Modernization</a><BR>
            	<a href="{{ site.baseurl }}/fed-it-topics/sustainability-transparency/" class="footer_links">Sustainability and Transparency</a>
            	<a href="{{site.baseurl}}/fed-it-topics/cybersecurity/" class="footer_links">Cybersecurity</a>
  </div>
</div>
	  
	   
<BR><BR>	  
	
  </div>
</section>
