start of quick links include
<section class="usa-section usa-section-dark">
  <div class="usa-grid" style="background-color: #ff0000;">
  
<div class="row4">
  <div class="column4" style="background-color:#aaa;">
    <h2>Column 1</h2>
    <p>Some text..</p>
  </div>
  <div class="column4" style="background-color:#bbb;">
    <h2>Column 2</h2>
    <p>Some text..</p>
  </div>
  <div class="column4" style="background-color:#ccc;">
    <h2>Column 3</h2>
    <p>Some text..</p>
  </div>
  <div class="column4" style="background-color:#ddd;">
    <h2>Column 4</h2>
    <p>Some text..</p>
  </div>
</div>
	  
	  
<BR><BR>	  
	
  </div>
</section>
end of contact include
