<div id="textblock_191024"><p>The Services, Strategy, and Infrastructure (SSI) Committee operates under the authority of the CIO Council.  In furthering the Council’s goals, the Committee will address topics with the area defined by the Committee’s Purpose through: the application of Council resources to develop strategies and policy advice and to sponsor or host events; the participation of Committee members; coordination with the Office of Federal CIO; and communication to the Federal IT community.</p>
<p>The Services, Strategy, & Infrastructure (SSI) committee focuses on acquisition reform and Federal IT infrastructure through execution of the following policies and initiatives:</p>
<p>
- Federal Information Technology Acquisition Reform Act (FITARA)<br />
- Technology Business Management (TBM)<br />-
 Data Center Optimization Initiative (DCOI)<br />
- Capital Planning and Investment Control (CPIC)<br />
- Information Resource Management (IRM)<br />
- Enterprise Architecture (EA)<br />
- Shared Services</p>
<p>The <a href="https://community.max.gov/x/URp5K">SSI MAX page</a> provides tools and resources to encourage information sharing and collaboration.</p></div>
  </div>
