<h2 class="section_header">WHAT IS TBM?</h2>
Technology Business Management (TBM) provides a standard way to categorize IT costs, technologies, resources, applications,
and services, and informs data<LI>driven decision making around smart IT investment. TBM adapts successful private sector 
initiatives to improve IT cost transparency within the government.
<p></p>
<h2 class="section_header">EMPOWERING CIOs</h2>
The TBM framework is a powerful tool to further enable FITARA implementation and help the
  government benchmark IT spending, improve acquisitions, and better understand IT investment costs. Increasing IT cost
  transparency and integrating data from different sources - budget, acquisition, finance, IT, the TBM’s taxonomy
  creates a standardized way to categorize funds so organizations can make better sense of their IT data.
<p></p>
The taxonomy provides three views into IT spending which frame how data can be used to support different aspects of an agency’s mission:
 <UL>
  <LI> Finance view: basic overview of an organization’s IT spending to help with budget formulation and execution<p></p>
<LI> IT view: shows effectiveness of IT spending within a specific function to support investment decisions<p></p>
<LI> Business view: holistic view of agency IT spending, tailored to the needs of senior executives, to help them understand how IT supports the mission.</p>
</UL>
  <p></p>
The TBM Council created the IT COST Commission (ITCC) and tasked it with developing recommendations and best practices in the Federal space. 
The <a href="http://tbmcouncil.org/get-involved/it-cost-commission.html">ITCC report</a> states, “Federal technology leaders need the ability to generate accurate, reliable, and benchmarkable IT cost data that is consistent across the federal government.” Implementing a standard TBM taxonomy will provide tremendous business value to agencies and stakeholders, including:
<UL>
  <LI> Standardized IT budget data: standardized cost models give agencies the ability to benchmark costs, prove the business value of IT investments, and track trends over time.</p>
<p></p>
<LI> Transparency: standardized measurement tools help IT leaders optimize costs and get the best value for their IT dollar.<p></p><LI> Better communication: standardization provides a common starting point for cross<LI>agency collaboration around shared challenges.</p>
<p></p>
<LI> Improved efficiencies: A common framework to benchmark IT infrastructure costs across agencies highlights successful IT investments and fosters replication of best practices.</li>
</UL>
<p></p>
<a href="https://www.cio.gov/about/committees-affiliates/technology-business-management-cop/">Read more about the TBM Community of Practice.</a>
