The Trusted Internet Connections (TIC) Initiative aims to improve the Federal 
Government’s security posture through the consolidation of external 
telecommunication connections, by establishing a set of baseline security 
capabilities through enhanced monitoring and situational awareness of all 
external network connections.<p></p>
The purpose of the TIC Initiative is to reduce, consolidate, and secure 
connects to the Federal Government, including those to the Internet. The 
initiative is improving the Federal Government’s security posture and incident 
response capability through the reduction and consolidation of external 
connections and providing enhanced monitoring and situational awareness of 
external network connections.<p></p>
On June 8, 2015, Federal CIO, Tony Scott, signed Office of Management and 
Budget (OMB) memorandum, M-15-13, detailing a policy to require secure 
connections across federal websites and web services. The policy requires all 
agencies to make existing websites and services accessible through a secure 
connection (HTTPS) by the end of 2016.<p></p>
In 2017, GSA will be taking another significant step forward in making secure 
communication the default for federal web services by automatically enforcing 
HTTPS in modern web browsers for newly issued executive branch .gov domains and 
their subdomains.<p></p>
<A href="https://pulse.cio.gov/https/domains/">Pulse.cio.gov</A> monitors the 
status of federal (.gov) domains supporting the HTTPS protocol. Data can be 
downloaded in CSV format and indicates whether each federal domain supports 
HTTPS protocol and the strength of that support.<p></p>
&nbsp;<p></p>
<H3>Resources</H3>
<A 
href="https://pulse.cio.gov/https/domains/">Pulse.cio.gov</A>
