<div id="textblock_601308">
The Workforce Committee's agenda encompasses the full employment life cycle: workforce planning, 
 recruitment, retention and career development. We work with the HR community to develop, implement 
 and communicate strategies to recruit, retain and manage a fully trained and qualified IT workforce, 
 to meet current and future mission requirements. The Workforce Committee is committed to its strategic 
 goal of providing the Federal Government with a cadre of highly capable IT professionals with mission 
 critical competencies to meet agency goals.
 
<h2 class="section_header">STRATEGIC INITIATIVES</h2>
  <LI>Multi-Agency Recruitment and Hiring Event</LI>
<LI>IT Track of the President’s Management Council Interagency Rotational Program</LI>
  <LI>Position Description Library</LI>
  <LI>Strategic Career Roadmaps</LI>

 
 <h2 class="section_header">LEADERSHIP</h2>
<p><a href="../../about/members-and-leadership/mr-jason-gray/">Jason Gray, Co-Chair</a><br />
Chief Information Officer<br />
Department of Education</p>
<p><a href="../../members-and-leadership/ms-beth-anne-killoran/">Beth Killoran, Co-Chair</a><br />
Chief Information Officer<br />
Department of Health and Human Services</p>

 <p>&nbsp;</p><p>Want more information?<br />
  Please visit the <A HREF="https://community.max.gov/display/Egov/CIO+Council+Workforce+Committee">Workforce Committee Max Page (login required)</A> for more details.</p>
</div>
