---
layout: base
---

<section >
  <div class="standard-unit" style="background-image: url('{{ page.background-image | prepend: site.baseurl }}'); height: 200px;">
    <section class="usa-grid usa-section">
        <div  style="position: absolute; bottom: 0;">
        <h1 style="font-family: 'Poppins', sans-serif; COLOR: #FFFFFF; font-size: 36px; align: left;">{{ page.bio-name-text }}</h1>
        <p style="font-family: 'Poppins', sans-serif; COLOR: #FFFFFF; font-size: 24px; align: left;">{{ page.bio-title-text }}</p>
        <p style="font-family: 'Poppins', sans-serif; COLOR: #FFFFFF; font-size: 24px; align: left;">{{ page.bio-agency-text }}</p>
        </div>
      </section>    
  </div>
</section>

 
<section class="usa-grid usa-section">
 
 {% include missionvision.html %}  
  
 </section>

  
{% if page.banner-heading %}
<section class="usa-section banner tagline" style="background-color: #a1b1bc;">
  <div class="usa-grid">

    <div class="usa-width-one-whole usa-end-row">
     
<!--
    <div class="usa-width-whole hero-content">
  -->
<h2>{{ page.banner-heading }}</h2>
      {% if page.banner-text %}
        <p>{{ page.banner-text }}</p>
      {% endif %}
      {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
    
    <BR>

 {% include quick.links.html %}
  
  
