---
layout: base
---

<section >
  <div class="standard-unit" style="background-image: url('{{ page.background-image | prepend: site.baseurl }}'); height: 100px;">
   <section class="usa-grid usa-section">
        <div  style="position: absolute; bottom: 0;">
     <font style="font-family: 'Poppins', sans-serif; COLOR: #515151; font-size: 42px; align: left;">LEADERSHIP</font>
   </div>
    </section>
  </div>
</section>

 
<section class="usa-grid usa-section">
The Office of Management and Budget’s Deputy Director for Management, Margaret Weichert, is the Chairperson of the Council. Suzette Kent, Federal Chief Information Officer, is the Director of the Council and leads its activities on behalf of the Chairperson. <BR><BR>

  {% include members-and-leadership.leaders.html %}    
 </section>

<hr>
  
<section class="usa-grid usa-section">
 {% include members-and-leadership.members.html %}  
 </section>


{% if page.banner-heading %}
<section class="usa-section banner tagline" style="background-color: #a1b1bc;">
  <div class="usa-grid">

    <div class="usa-width-one-whole usa-end-row">
     
<!--
    <div class="usa-width-whole hero-content">
  -->
<h2>{{ page.banner-heading }}</h2>
      {% if page.banner-text %}
        <p>{{ page.banner-text }}</p>
      {% endif %}
      {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
    
    <BR>

 {% include quick.links.html %}
  
  
